# -----------------------------
# PostgreSQL configuration file
# -----------------------------

#------------------------------------------------------------------------------
# CONNECTIONS AND AUTHENTICATION
#------------------------------------------------------------------------------

listen_addresses = '0.0.0.0'
#port = 5432
#max_connections = 100

#------------------------------------------------------------------------------
# AUTHENTICATION
#------------------------------------------------------------------------------

password_encryption = scram-sha-256

#------------------------------------------------------------------------------
# RESOURCE USAGE (except WAL)
#------------------------------------------------------------------------------

#shared_buffers = 128MB
#work_mem = 4MB
#maintenance_work_mem = 64MB

#------------------------------------------------------------------------------
# WRITE-AHEAD LOG
#------------------------------------------------------------------------------

#wal_level = replica
#fsync = on
#synchronous_commit = on
#max_wal_size = 1GB
#min_wal_size = 80MB

#------------------------------------------------------------------------------
# REPORTING AND LOGGING
#------------------------------------------------------------------------------

#log_destination = 'stderr'
#logging_collector = off

#------------------------------------------------------------------------------
# AUTOVACUUM
#------------------------------------------------------------------------------

#autovacuum = on
